*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body{
    font-family: 'Playfair Display', serif;
    justify-content: center;
    align-items: center;
    line-height: 2em;
    height: 100vh;
    
}
.textField{
    text-align: center;
    text-indent: 100px;
    position: relative;
    bottom: 30px;
    font-size: 23px;
    line-height: 2;
    padding: 50px;

}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* STYLE FOR HEADER HTML ELEMENTS */

.headerTitle{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    max-width: 100%;
}
  
.headerQuote{
      font-size: 25px;
      font-style: italic;
      font-family: 'Playfair Display', serif;
      padding-top: 20px;
      padding-left: 10px;
      text-align: center;
      font-weight: bold;
}
/*//////////////////////////////////////////////////////////*/

/* ASIDE ELEMENT FOR CONTAINER///////////////////////////////*/

/*//////////////////////////////////////////////////////////*/

/* STYLE FOR CAOURSEL HTML ELEMENT */
.section{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 80px;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
    height: 500px;
    border: 5px solid black;
    box-shadow: 10px 10px;

}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid lightblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: white;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}

#radio3:checked ~.first{
    margin-left: -40%;
}

#radio4:checked ~.first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid lightblue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background-color: lightblue;

}

#radio2:checked ~ .nav-auto .a-b2{
    background-color: lightblue;
    
}

#radio3:checked ~ .nav-auto .a-b3{
    background-color: lightblue;
    
}

#radio4:checked ~ .nav-auto .a-b4{
    background-color: lightblue;
    
}
/* STYLE FOR NAV HTML ELEMENTS /////////////////////////////////*/

.navigationBar{
    background-color: lightblue;
    position: relative;
    min-width: 320px;
    margin-bottom: 20px;
    top:-95px;
}

nav a{
    color: black;
}

nav a:hover{
    color: white;
}

nav li{
    position:relative;
    top:-3px;
    list-style: none;
    text-decoration: none;
    display: inline;
    padding-left:5em;
    padding-right:5em;
    font-family: 'Playfair Display', serif;
    font-size:25px;

}

a:link{
    text-decoration: none;
}

.navigationBorder{
    border-top: 2.5px solid black;
    border-bottom: 2.5px solid black;
    height: 30px;
    width: 100%;
    text-align: center;
}
/*//////////////////////////////////////////////////////////*/

/* STYLE FOR HEADSHOT IMAGE ELEMENT */

.image{
    display: flex;
    justify-content: center;
    align-items:center;
    padding:0;
    margin:0;
    position: relative;
    padding-left: 20px;
}

.image img{
    display: block;
    height:100px;
    width:100px;
    border-radius: 50%;
    margin-right:90%;
    margin-bottom: 20px;
    border: 5px solid black;
    position: relative;
    top:-80px;
}
/*//////////////////////////////////////////////////////////*/

/*CSS STYLE FOR FOOTER*/
.footerElement{
    width: 100%;
    margin: 100px 0 0 0;
    text-align: center;
    border-top: 2px black solid;
    background-color:lightblue;
    font-size: 23px;
    line-height: 1.5;
    font-weight: bold;
    color:black;
}